//=========COLORS==============
$blue: #24a3b5;
$form-check: #078da0;
$dark-blue: #00505b;
$grey: #625f5f;
$white: #fff;
$light-grey: #c4c4c4;
$pink: #ff5065;
$border-color: #e5e5e5;
$black: #000;
$yellow: #ffc700;
$uncheck: #e2dfdf;

@mixin expand {
  cursor: pointer;
  display: block;
  color: $blue;
  font-size: 12px;
  font-weight: 500;
  &:hover,
  &:active,
  &:focus {
    color: $dark-blue;
  }
}

/*==============================
        FILTER PAGE
=================================*/
ul {
  list-style-type: none;
}
label {
  font-size: 12px;
  margin-top: 4px;
  text-transform: capitalize;
  cursor: pointer;
}
.form-check {
  padding-bottom: 5px;
}
input[type="checkbox"] {
  color: $form-check;
}
#filter {
  .filter-option {
    background: $white;
  }
  .filter-col {
    border-bottom: 1px solid $border-color;
    padding-top: 5px;
  }
  .filter-title {
    font-size: 14px;
    text-transform: uppercase;
  }
  .expand-button {
    @include expand;
  }

  .list {
    position: relative;
    max-height: 95px;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    text-transform: capitalize;
    transition: max-height 1s ease;
    a {
      color: $black;
    }
    li {
      padding-bottom: 5px;
    }

    &.-expanded {
      max-height: 20vh;
      overflow-y: scroll;
    }
  }
  .price {
    form {
      .form-control {
        max-width: 70px;
        font-size: 12px;
        margin-right: 10px;
        &::placeholder {
          font-size: 10px;
          text-transform: uppercase;
          color: $grey;
          font-weight: 550;
        }
      }
      i {
        margin-right: 10px;
      }
      a {
        i {
          font-size: 28px;
          color: $blue;
        }
      }
    }
  }
  .brand-form {
    position: relative;
    max-height: 100px;
    overflow: hidden;
    font-size: 12px;
    transition: max-height 1s ease;

    &.-expanded {
      max-height: 20vh;
      overflow-y: scroll;
    }
  }
  .brand-expand {
    @include expand;
  }
  .color-form {
    position: relative;
    max-height: 100px;
    overflow: hidden;
    font-size: 12px;
    transition: max-height 1s ease;

    &.-expanded {
      max-height: 20vh;
      overflow-y: scroll;
    }
  }
  .color-expand {
    @include expand;
  }
  .rating {
    i {
      color: $uncheck;
    }
    .checked {
      color: $yellow;
    }
  }
}
.filter-product {
  span {
    font-size: 14px;
  }
  label {
    font-size: 14px;
  }
  select {
    font-size: 12px;
    padding: 5px 0;
  }
  .filter-group {
    border: 1px solid $grey;
    border-radius: 15px;
    padding: 4px 30px 4px 10px;
    position: relative;
  }
  .times {
    position: absolute;
    right: 10px;
    top: 2px;
  }
  .clear {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 15px;
  }
  .product-item,.list-item {
    .item-details {
      margin-top: 35px;
    }
    h6 {
      text-transform: uppercase;
    }
    .price {
      font-size: 16px;
      color: $blue;
      font-weight: 550;
    }
  }
  .list-item{
    .list-details{
      transition: .5s ease;
      cursor: pointer;
    &:hover{
      box-shadow: 0 0 10px $border-color;

    }}
    img{
      margin: 0 auto;
    }
    h6{
      margin-bottom: 0;
    }
    .price{
      padding-right:20px;
    }
    ul{
      list-style-type: disc;
    }
    li{
      font-size: 12px;
      color: $grey;
      margin-left: 19px;
    }
  }
  .nav-tabs,.nav-link{
    border: 0;
    color: $light-grey;
  }

  .nav-link{
    margin-top: -8px;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

   border: 0;
  }
  .nav-tabs .nav-link.active {
    color: $black !important;
  }
  .nav-item{
    flex: 0 auto;
  }
}
