//=========COLORS==============
$blue: #24a3b5;
$light-blue: #7db9ff;
$dark-blue: #00505b;
$white: #fff;
$light-grey: #c4c4c4;
$pink: #ff5065;
$border-color: #e5e5e5;
$black: #000;
$grey: #3d3c3c;



/*==============================
        MY CART
=================================*/

.cart {
  .my-cart-item {
    border-bottom: 1px solid $border-color;
    .form-check-input {
      left: 35px;
      top: 50px;
      right: 30px;
    }
    img {
      margin: 0 auto;
      padding-left: 10px;
    }
    .product-price {
      font-size: 18px;
      font-weight: bold;
      color: $dark-blue;
    }
    .discount-per {
      color: $pink;
      font-weight: 550;
      font-size: 10px;
    }
    .item-head {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 3px;
      p {
        color: $grey;
        font-weight: 500;
      }
    }
    a {
      font-size: 12px;
      font-weight: 550;
      span {
        color: $grey;
        font-weight: 500;
      }
    }
    .quantity {
      border-right: 2px solid $light-blue;
      padding-right: 10px;
    }
    .delete {
      border-right: 2px solid $light-blue;
      padding: 5px 18px;
      span {
        color: $dark-blue;
        font-weight: 550;
        i {
          font-size: 20px;
          color: $grey;
          margin-right: 6px;
        }
      }
    }
    .save {
      padding-left: 10px;
      span {
        color: $dark-blue;
        font-weight: 550;
        i {
          font-size: 20px;
          color: $pink !important;
          margin-right: 6px;
        }
      }
    }
  }

  .select {
    border-bottom: 1px solid $border-color;
    label {
      font-size: 12px;
      margin-left: 10px;
      font-weight: 550;
    }
  }
  .continue{
      font-size: 14px;
      color: $dark-blue;
      text-transform: uppercase;
      font-weight: 550;
  }

  .button{
      .clear{
          @include btn1;
          
      }
      .update{
          @include btn2;
      }
  }

  .pincode-form {
    position: relative;
    .form-control {
      width: 70%;
    }
    input {
      height: 30px;
      font-size: 12px;
      outline: none;
      border: 2px solid $dark-blue;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding: 0 19px;
      color: $grey;
      background-color: $white;
      display: inline-block;
    }
    input[type="submit"] {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-left: -4px;
      background-color: $dark-blue;
      color: $white;
      font-weight: 900;
    }
  }
  .order-summary {
    border-bottom: 1px dashed $border-color;
    span {
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
    }
    .order-price {
      color: $dark-blue;
    }
  }
  .total-price {
    span {
      font-size: 14px;
    }
    .order-price {
      color: $dark-blue;
    }
  }
  .details .button {
    text-align: center;
    .btn {
      @include btn2;
      width: 90%;
    }
  }
}
