//=========COLORS==============
$blue:#24A3B5;
$dark-blue:#00505B;
$white : #fff;
$light-grey:#C4C4C4;
$pink:#FF5065;
$border-color:#E5E5E5;
$black: #000;
$green:#21C763;
$yellow:#FFC700;
$uncheck:#E2DFDF;
$grey:#625F5F;
$rate:#FE9F15;
$red:#B51919;


/*==============================
        BREADCUMB
=================================*/
.breadcumb-nav{
    padding: 0 32px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    .breadcrumb{
        background-color: transparent;
        .breadcrumb-item{
            font-size: 12px;
            font-weight: 550;
            a{
                color: $blue;
            }
        }
    
        .breadcrumb-item+.breadcrumb-item::before {
            padding-right: 5px;
            content: ">";
            height: 20px;
        }
    }
    
}

/*==============================
        PRODUCT
=================================*/
#product{
    position: relative;
        .img-wrapper {
            min-width: 100%;
            min-height: 100%;   
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            overflow: hidden;    
            z-index:8;
            background-size: cover;
            background-position: center center;
        }
            #slideshow .img-wrapper.active {
                z-index:10;
            }
    
            #slideshow .img-wrapper.last-active {
                z-index:9;
            }
    
        /*==================================
        * Thumbnail Styling
        ==================================*/
        .thumbs-container {
            width: 100%;
            height: 140px;
            position: absolute;
            left: 0;
            z-index: 11;
            opacity: .9;
        }
            .thumbs-container.top {
                top: 0;
            }
            .thumbs-container.bottom {
                bottom: 0;
            }
            .prev, .next {
                margin-top: 28%;
                color: $light-grey;
                cursor: pointer;
            }
            .prev { float: left; }
            .next { float: right; }
                .prev:hover, .next:hover {
                    color: $grey;
                }
            ul.thumbs {
                position: absolute;
                top: 65%;
                left: 5%;
                right: 5%;
                padding: 0;
                margin: 0 5%;
                overflow: hidden;
                white-space: nowrap;
                text-align: center;
            }
                .thumb {
                    display: inline-block;
                    width: 59px;
                    height: 50px;
                    margin: 10px;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center center;
                    cursor: pointer;
                }
                    .thumb:first-of-type {
                        margin-left: 0px;
                    }
                .thumb.active {
                    border: 2px solid $pink;
                    border-radius: 4px;
                }

    .item-details{
          .fa-heart{
            position: absolute;
            right: 10px;
            top: 16px;
            color: $pink;
            font-size: 25px;
            transition: .2s;
        }   
    }
    .product-title{
        border-bottom: 1px solid $border-color;

        .item-info{
            text-transform: uppercase;
            font-size: 12px;
            a{
                margin-right: 20px;
            }
        }
    }
    .price{
        border-bottom: 1px solid $border-color;
        text-transform: capitalize;
        .discount-per{
            border: 1px solid $pink;
            padding: 2px 5px;
            font-size: 10px;
            border-radius: 2px;
            margin-left: 12px;
        }
        a{
            font-size: 12px;
        }
    }
    .color{
        input[type=radio]{
            opacity: 0;
        }
        
        label{
            background: $white;
            color: $black;
            margin-right: 10px;
            border: 1px solid $light-grey;
            border-radius: 0;
            font-size: 12px;
            padding:2px 10px;
        }
        .btn-secondary.focus, .btn-secondary:focus{
            border-color: $pink;
            box-shadow: 0px 0px $white;
        }

    }
    .quantity{
        input{
            -webkit-appearance: none;
            border: none;
            text-align: center;
            width: 32px;
            font-size: 16px;
            font-weight: 300;
        }
        .fa-minus{
            background-color: $border-color;
            padding:4px 6px;
            cursor: pointer;
        }
        .fa-plus{
            background-color: $light-grey;
            padding:4px 6px;
            cursor: pointer;
        }
    }
    .availability{
        font-weight: 500;
        padding-left: 10px;
    }

    .button {
        .cart{
            border: 2px solid $pink;
            color: $pink;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-right: 10px;
            width:35%;
            transition: .5s ease;
            &:hover{
               background-color: $pink;
               color: $white;
            }
        }
        .buy{
            background-color: $pink;
            border: 2px solid $pink;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            width:35%;
            font-weight: 500;
            transition: .5s ease;

            &:hover{
               background-color: $white;
               color: $pink;
            }
        }
    }
    .shipping{
        .delivery{
            border-bottom: 1px solid $border-color;
        }
        .title{
            font-size: 14px;
            font-weight: 500;
            text-transform: capitalize;
        }
        .location{
            font-weight: 500;
        }
        .change{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
        }
        i{
            margin-right: 10px;
        }
        .days{
            margin-left: 35px;
        }
        .return-warranty{
            border-bottom: 1px solid $border-color;
            .warranty-details{
                p{
                    font-size: 12px;
                    font-weight: 500;
                    .fa-check-square{
                        font-size: 18px;
                        color: $blue;
                    }
                }
                small{
                    margin-left: 28px;
                }
            }
        }
        .sold{
            .company{
                font-size: 12px;
            }
            p a{
                text-decoration-line: underline;
            }
        }

    }
}

/*==============================
        PRODUCT DETAILS
=================================*/
#tabs{
    h6{
        color: $dark-blue;
        font-weight: bold;
        font-size: 16px;
    }
    p{
        color: $black;
    }
    .nav-item{
        color: $black;
        font-weight: 500;
        &:hover{
            border-color:transparent;
        }
    }
    .nav-tabs .nav-item.show .nav-link, 
    .nav-tabs .nav-link.active {
        background-color: transparent;
        border-color: transparent transparent $border-color;
        border-bottom: 3px solid $pink !important;
        font-size: 16px;
        font-weight: bold;

}   
}


/*==============================
        RATINGS & REVIEWS
=================================*/
#reviews{
    .circle-wrap {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        background: $uncheck;
        border-radius: 50%;
      }
      
      .circle-wrap .circle .mask,
      .circle-wrap .circle .fill {
        width: 150px;
        height: 150px;
        position: absolute;
        border-radius: 50%;
      }
      
      .circle-wrap .circle .mask {
        clip: rect(0px, 150px, 150px, 75px);
      }
      
      .circle-wrap .circle .mask .fill {
        clip: rect(0px, 75px, 150px, 0px);
        background-color: $rate;
      }
      
      .circle-wrap .circle .mask.full,
      .circle-wrap .circle .fill {
        animation: fill ease-in-out 3s;
        transform: rotate(126deg);
      }
      
      @keyframes fill {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(126deg);
        }
      }
      
      .circle-wrap .inside-circle {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: $white;
        line-height: 130px;
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
        position: absolute;
        z-index: 100;
        font-weight: 700;
        font-size: 2em;
      }
    .ratings{
        border-bottom: 1px solid $border-color;
        h6{
            font-size: 18px;
            font-weight: bold;
            text-transform: capitalize;
        }
        .progress{
            margin-bottom: 20px;
            border-radius: 50px;
        }
        .rate{
            position: absolute;
            left: -18px;
            i{
                margin-left: 2px;
                margin-right: 5px;
            }
        }
        .number{
            position: absolute;
            left: 100%;
            margin-top: 10px;
        }
        .bg-green{
            background-color: $green;
        }
        .bg-yellow{
            background-color: $yellow;
        }
        .bg-red{
            background-color: $red;
        }
        .bg-pink{
            background-color: $pink;
        }
        .bg-blue{
            background-color: $blue;
        }
    }
    .review-detail{
        .review-item{
            border-bottom: 1px solid $border-color;
        }

        .user{
            .product-rating{
                span{
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            p{
                font-size: 14px;
            }
            .flaticon-verified{
                font-weight: bold;
                color: $dark-blue;
                margin-right: 2px;
            }
        }
    }

}


 @media only screen and (max-width: 580px) {
     .progress{
         width: 80% !important;
         margin: 0 auto;
         .rate{
            left: 20px !important;
        }
     }
     .number{
        left: 90% !important;
      }

 }
