//=========COLORS==============
$blue: #24a3b5;
$lightblue: rgba(228, 243, 245, 0.27);
$lightblue2: rgba(36, 163, 181, 0.16);
$pink: #ff5065;
$red: #b51919;
$black: #000;
$white: #fff;
$yellow: #ffc700;
$text-color: #3d3c3c;
$grey: #625f5f;
$light-grey: #636161;
$border-color: #e5e5e5;
$light: #edecec;
$uncheck: #e2dfdf;
$google: #de5246;
$facebook: #3b5998;
$twitter: #00acee;

//=======FONT FAMILY============
$roboto: "Roboto", sans-serif;
$pt-serif: "PT Serif", serif;
$lobster: "Lobster Two", cursive;
$pt-sans: "PT Sans", sans-serif;
$lato: "Lato", sans-serif;

@mixin btn1 {
  border: 2px solid $pink;
  color: $pink;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s ease;
  &:hover{
      background-color: $pink;
      color:$white;
  }
}
@mixin btn2 {
  background-color: $pink;
  border: 2px solid $pink;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s ease;
  &:hover {
    background-color: $white;
    color: $pink;
  }
}

// all imports--------------------------

@import "reset";
@import "product";
@import "mycart";
@import "filter";
@import "dashboard";

body {
  font-family: $roboto;
}
/*==============================
        GENERAL CSS
=================================*/
span,
p {
  font-size: 12px;
}
h6 {
  font-size: 14px;
}
.product-price {
  color: $blue;
  font-size: 14px;
  font-weight: bold;
}
.discount {
  text-decoration-line: line-through;
  color: $pink;
  font-size: 10px;
}
.head {
  font-size: 18px;
  text-transform: uppercase;
}
.link {
  font-size: 14px;
  font-weight: 550;
}
.product-rating {
  font-size: 10px;
  color: $uncheck;
  .checked {
    color: $yellow;
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 0px;
}

.bg-light-wrapper{
  background-color: rgba($color: $grey, $alpha: 0.08);
}

.bg-white{
  background-color: $white;
}

.radius10{
  border-radius: 10px;
}

.grey14{
  font-size: 14px;
  color: $grey;
}

.img48{
  width: 48px;
  height: 48px;
  object-fit: cover;
}

/*==============================
        TOPBAR SECTION
=================================*/
#topbar {
  background-color: $blue;
  color: $white;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 32px;
  .top-item {
    float: right;
    .top-links {
      color: $white;
      margin-right: 19px;
      text-align: center;
    }
    .social-icons i {
      color: $white;
      margin-right: 5px;
    }
  }
}

/*==============================
        NAVVBAR SECTION
=================================*/
.header-section {
  padding: 6px 32px;
  background-color: $lightblue;
  h2 {
    font-size: 40px;
    font-family: $lobster;
    font-weight: bold;
    color: $black;
    margin-top: 10px;
  }
  .custom-select {
    max-width: 80px;
    height: 40px;
    margin-right: -5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid $blue;
    z-index: 4;
    color: $black;
    background-color: $lightblue;
  }
  .header-search-form {
    width: 100%;
    position: relative;
  }
  .header-search-form input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    outline: none;
    margin-left: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid $blue;
    padding: 0 19px;
    color: $grey;
    background-color: $white;
  }
  .header-search-form button {
    position: absolute;
    padding: 20px 22px;
    right: -1px;
    top: 0;
    font-size: 26px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $white;
    font-size: 16px;
    cursor: pointer;
    background-color: $blue;
  }
  .fa-search {
    position: absolute;
    top: 13px;
    right: 13px;
  }
  .user-panel {
    margin-top: 40px;
    position: relative;
    a {
      color: $black;
      font-size: 12px;
      font-weight: 500;
      margin-right: 15px;
      padding-bottom: 10px;
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .zero {
      background-color: $pink;
      position: absolute;
      top: -18px;
      left: 10px;
      padding: 2px 6px;
      color: $white;
      font-weight: bold;
      border-radius: 50%;
    }
    .dropdown-account {
      display: none;
      background-color: $white;
      border: 1px solid $border-color;
      padding: 10px;
      border-radius: 5px;
      position: absolute;
      z-index: 99;
      right: 0;
      padding: 15px;
      margin-top: 5px;
    }
    .join {
      background-color: $pink;
      border: 2px solid $pink;
      color: $white;
      font-size: 12px;
      margin: 10px 0px;
      &:hover {
        color: $pink;
        background-color: $white;
      }
    }
    .sign {
      border: 2px solid $pink;
      color: $pink;
      background-color: $white;
      font-size: 12px;
      margin: 10px 0px;
      &:hover {
        background-color: $pink;
        color: $white;
      }
    }
    .account-list {
      border-top: 1px solid $border-color;
      padding-top: 10px;
      li {
        text-transform: capitalize;
        margin-bottom: 6px;
        a:hover {
          color: $blue;
        }
      }
    }

    .user-account:hover > .dropdown-account {
      display: block;
    }
  }
  .navbar-light .navbar-nav .nav-link {
    color: $grey;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 25px;
    padding: 0 !important;
  }
  .support {
    color: $grey;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    i {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

#navigation {
  position: relative;
  .nav-link {
    &:hover {
      color: $blue;
    }
  }
  .dropdown-item {
    position: absolute;
    z-index: 99;
    background-color: $white;
    padding: 10px;
    box-shadow: 0 0 5px $border-color;
    a {
      display: block;
      margin-bottom: 15px;
      color: $grey;
      font-size: 14px;
      &:hover {
        color: $blue;
      }
    }
  }
  ul li ul {
    display: none;
  }
  ul li:hover > ul,
  ul li ul:hover {
    display: block;
  }
}
/*==============================
        HERO SECTION
=================================*/
#hero {
  padding: 0px 32px;
  .carousel-item .image {
    background: $light;
    height: 63vh;
  }
  .col-lg-2 {
    padding-right: 10px !important;
  }
  .categories-title {
    color: $grey;
    background-color: $lightblue2;
    padding: 5px;
  }
  .fa-bars {
    margin-right: 10px;
  }
  .categories-head {
    color: $grey;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
  }
  .list-group-item {
    border: none;
    background: none;
    padding: 0;
  }
  .categories-list {
    background-color: $lightblue;
  }
  .categories-item {
    position: relative;
    padding: 5px 0 10px 10px;
    &:hover {
      border: 1px solid $white;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    a {
      color: $grey;
      font-size: 12px;
      margin-top: -15px;
      text-transform: capitalize;
      img {
        display: inline;
      }
      &:hover {
        text-decoration-line: none;
        font-weight: 500;
        color: $blue;
      }
    }
  }

  .carousel-caption {
    text-align: left;
    color: $grey;
    top: 25%;
    left: 50%;
    font-family: $pt-serif;
    h1 {
      font-size: 50px;
      font-weight: 600;
    }
    p {
      font-style: italic;
      font-family: $pt-serif;
      font-size: 14px !important;
      letter-spacing: 1.3px;
    }
    button {
      margin-top: 30px;
      border-radius: 40px;
      padding: 5px 30px;
      text-align: center;
      font-family: $roboto;
    }
  }
  .pincode-form {
    border: 1px solid $border-color;
    padding: 10px;

    h6 {
      font-size: 12px;
      font-weight: bold;
      &::after {
        content: "";
        width: 30px;
        border-bottom: 2px solid $border-color;
        display: block;
        margin: 8px auto;
      }
    }
    p {
      font-size: 10px;
      margin-top: 15px;
    }
    input[type="text"] {
      font-size: 10px;
    }
    input[type="button"] {
      background-color: $pink;
      color: $white;
      font-size: 12px;
    }
  }
}

.categories-list {
  & .sideMega {
    background-color: $white;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    list-style: none;
    margin-left: 0;
    padding: 10px 40px;
    margin-top: -35px;

    & h6 {
      font-weight: 500;
    }

    & > li {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      width: 30%;
    }

    & li ul {
      margin-left: 0;
    }
  }
}
.categories-item {
  & .sideMega {
    display: none;
  }

  &:hover > .sideMega {
    display: flex;
  }
}
/*==============================
        TODAY'S DEAL
=================================*/
#deal {
  margin: 0px 40px;
  .deal-title span {
    font-size: 18px;
    margin-right: 15px;
  }
  a {
    font-size: 14px;
  }
  .countdown {
    background-color: $lightblue2;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: bold;
    span {
      font-size: 16px;
    }
    .fa-clock {
      font-size: 20px;
      padding-top: 4px;
    }
  }
  .slider {
    i {
      color: $grey;
    }
    .slick-dots li button:before,
    .slick-dots li.slick-active button:before {
      color: $blue;
    }
    .slick-dots li.slick-active button:before {
      opacity: 1;
    }
  }
}

/*==============================
        TRENDING PRODUCTS
=================================*/
#trending {
  margin: 0 40px;
  .product-item {
    position: relative;
  }
  .trending-item{
    .row{
      margin-bottom: 40px;
    }
  }
  .discount-streak {
    i {
      position: absolute;
      font-size: 40px;
      color: $red;
      top: -5%;
      right: -5%;
    }
    span {
      color: $white;
      font-size: 10px;
      font-weight: 900;
      position: absolute;
      top: 0;
      right: 0%;
    }
  }
}

/*==============================
        FEATURED PRODUCTS
=================================*/
#featured {
  margin: 0 40px;
  .items {
    padding: 20px 0;
    border: 1px solid $border-color;
    border-radius: 5px;
    margin-bottom: 28px;
    h6 {
      padding-left: 10px;
    }
    .row {
      margin: 0;
      img {
        padding: 14px 0 0 14px;
      }
    }
  }
}

/*==============================
        GROCERY
=================================*/
.grocery {
  i {
    color: $grey;
    margin-left: 80px;
  }
  .slick-dots li button:before,
  .slick-dots li.slick-active button:before {
    color: $blue;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
  }
}

/*==============================
       SERVICE
=================================*/
#service {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 0 40px;
  .service-item:not(.trust-pay) {
    border-right: 1px solid $border-color;
  }
  h6 {
    font-size: 18px;
  }
  p {
    color: $grey;
  }
}

/*==============================
       MEGAFOOTER
=================================*/
#mega-footer {
  background-color: $lightblue;
  padding: 0 40px;
  .offers {
    max-width: 50%;
    margin: auto;
    h6 {
      font-size: 18px;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
    p {
      color: $grey;
    }
    .footer-form {
      position: relative;
      .form-control {
        width: 70%;
      }
      input {
        height: 35px;
        font-size: 12px;
        outline: none;
        border: 1px solid $blue;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 0 19px;
        color: $grey;
        background-color: $white;
        display: inline-block;
      }
      input[type="submit"] {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -4px;
        background-color: $blue;
        color: $white;
        font-weight: 900;
      }
    }
  }
  .footer-item {
    h6 {
      font-weight: bold;
    }
    .footer-list {
      a {
        color: $black;
        font-size: 12px;
        &:hover {
          color: $blue;
        }
      }
      img {
        width: 70%;
      }
    }
    i {
      margin-right: 10px;
    }
    .social-icons {
      margin-top: 20px;
      i {
        color: $black;
        border: 2px solid $blue;
        border-radius: 50%;
        padding: 5px 6px;
      }
      .fa-facebook-f {
        padding: 5px 8px;
      }
    }
  }
}

/*==============================
       FOOTER
=================================*/
#footer {
  background-color: $blue;
  padding: 10px 40px;
  color: $white;
  font-weight: bold;
}



/*==============================
       EMPTY CART
=================================*/
.empty-cart {
  .cart-info {
    img {
      margin: 0 auto;
    }
  }
  p {
    font-size: 14px;
    font-weight: 500;
  }
  .btn {
    @include btn2;
    margin-top: 20px;
    padding: 8px 25px;
  }
}

/*==============================
        LOGIN PAGE
=================================*/
.login-details {
  border: 1px solid $border-color;
  .logo {
    font-family: $lobster;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .nav-item {
    color: $text-color;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
      border-color: transparent;
    }
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent transparent $border-color;
    border-bottom: 2px solid $red !important;
    font-size: 16px;
    font-weight: bold;
    color: $red;
  }
  .form {
    width: 90%;
    margin: 0 auto;
    .form-control {
      border-color: $border-color;
      font-size: 14px;
    }
    input {
      &::placeholder {
        font-size: 10px;
      }
    }
    input[type="submit"] {
      @include btn2;
      &:hover {
        background-color: $pink;
        color: $white;
      }
    }
    .form-check-label {
      font-size: 12px;
      font-weight: 500;
      color: $grey;
    }
    a {
      font-size: 12px;
      color: $blue;
      font-weight: 500;
    }
  }
  .alternate {
    p {
      color: $text-color;
      font-weight: 500;
    }
    i {
      font-size: 20px;
      padding: 10px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .fa-google {
      color: $white;
      background-color: $google;
    }
    .fa-facebook-f {
      color: $white;
      padding: 10px 14px;
      background-color: $facebook;
    }
    .fa-twitter {
      color: $white;
      background-color: $twitter;
    }
  }
}


